@font-face {
    font-family: Poppins;
    src: url('../../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: Poppins500;
    src: url('../../fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: Poppins600;
    src: url('../../fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Poppins700;
    src: url('../../fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: Poppins900;
    src: url('../../fonts/Poppins-Black.ttf');
}
@font-face {
    font-family: PoppinsExtra;
    src: url('../../fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: Quicksand;
    src: url('../../fonts/Quicksand-Regular.ttf');
}
@font-face {
    font-family: Quicksand500;
    src: url('../../fonts/Quicksand-Medium.ttf');
}
@font-face {
    font-family: Quicksand600;
    src: url('../../fonts/Quicksand-SemiBold.ttf');
}
@font-face {
    font-family: Quicksand700;
    src: url('../../fonts/Quicksand-Bold.ttf');
}